@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply h-full w-full bg-secondary bg-opacity-[0.03] text-black;
}

ul {
  border-inline-end: none !important;
}

a {
  @apply text-link hover:text-link-hover
}

/* width */
.main-scroll::-webkit-scrollbar {
  @apply h-2 w-2;
}

/* Track */
.main-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.main-scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-md;
}

/* Handle on hover */
.main-scroll::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}


/* width */
.sider-scroll::-webkit-scrollbar {
  @apply h-1 w-1;
}

/* Track */
.sider-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sider-scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-md;
}

/* Handle on hover */
.sider-scroll::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

.ant-popover {
  position: fixed;
  z-index: 99999;
}

.ant-popover-inner {
  padding: 15px !important;
  box-shadow: 0 5px 20px #9299b820;
  border-radius: 0 0 6px 6px;
}

.ant-popover-inner .ant-popover-title {
  padding: 5px 10px 10px;
}

.ant-popover-inner .ant-popover-inner-content a {
  color: #5a5f7d;
}

/* INPUT */
.floating-input-container .ant-input {
  @apply px-[12px] py-[15.5px] relative
}

.floating-input-container .ant-input:disabled {
  background-color: #D9D8DF !important;
}

.core-input {
  @apply bg-white leading-[1]
}

.core-input .ant-input-password-icon {
  @apply h-[14px];
}

.floating-input-container .floating-label {
  position: absolute;
  left: 12px;
  top: 18px; /* Initial position, matches padding */
  font-size: 14px;
  /* color: #393941; */
  pointer-events: none;
  transition: all 0.2s ease;
  background: white; /* To overlay properly inside the input */
  padding: 0 4px;
  z-index: 10;
  background-color: transparent;
  font-weight: 400;
  line-height: 1;
}

.floating-input-container .core-input:focus + .floating-label,
.floating-input-container .floating-label.label-float,
.floating-input-container .ant-input-affix-wrapper .ant-input:focus + .floating-label {
  top: -6px; /* Adjust to move above text */
  left: 9px;
  font-size: 12px;
  font-weight: 600;
  background-color: white;
}

.core-input-date {
  height: 48px;
}

.floating-input-date-container .floating-label {
  position: absolute;
  left: 12px;
  top: 35%; /* Initial position, matches padding */
  font-size: 14px;
  /* color: #393941; */
  pointer-events: none;
  transition: all 0.2s ease;
  background: white; /* To overlay properly inside the input */
  padding: 0 4px;
  z-index: 10;
  background-color: transparent;
  font-weight: 400;
  line-height: 1;
}

.floating-input-container .core-input-date:focus + .floating-label,
.floating-input-container .floating-label.label-float,
.floating-input-container .ant-input-affix-wrapper .ant-input:focus + .floating-label {
  top: -6px; /* Adjust to move above text */
  left: 9px;
  font-size: 12px;
  font-weight: 600;
  background-color: white;
}
.floating-input-date-container.active .floating-label  {
  top: -6px; /* Adjust to move above text */
  left: 9px;
  font-size: 12px;
  font-weight: 600;
  background-color: white;
}

.ant-table-column-sorter-inner > .anticon-caret-up,
.ant-table-column-sorter-inner > .anticon-caret-down {
  color:white !important;
}
.ant-table-column-sorter-inner > .active {
  @apply !text-primary
}

.ant-table-pagination {
  background-color: #EEEEF0;
  border-radius: 12px;
  padding:12px !important;
}.ant-pagination-item {
  border-radius: 99px !important;
  background-color: transparent !important;
}
.ant-pagination-item-active {
  border-radius: 99px !important;
  background-color: #1F6AF1 !important;
}
.ant-pagination-item-active > a {
 
  color: #fff !important;
}


.ant-pagination-item {
  border-radius: 99px !important;
  background-color: transparent !important;
}
.ant-pagination-item-active {
  @apply !rounded-[6px] !bg-secondary !border-secondary
 
}
.ant-pagination-item-active > a {
  color: #fff !important;
}


.custom-page-changer > .ant-select-selector {
  background-color: #D9D8DF !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

/* MENU */

.ant-menu {
  @apply !text-[16px] font-semibold
}

.ant-menu.ant-menu-sub.ant-menu-inline {
  @apply !bg-white
}

.ant-menu-item.ant-menu-item-active.ant-menu-item-only-child:hover {
  @apply !bg-white !text-primary
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child:hover {
  @apply !bg-primary-100 !text-primary
}

.ant-menu-item:hover {
  @apply !bg-white !text-primary
}

.ant-menu-item.ant-menu-item-selected:hover {
  @apply !bg-primary-100 !text-primary
}

.ant-menu-item.ant-menu-item-selected .ant-menu-item-icon {
  @apply !text-primary
}

.ant-menu-submenu-title:hover {
  @apply !bg-white
}
.ant-menu-submenu.ant-menu-submenu-selected .ant-menu-submenu-title .ant-menu-title-content {
  @apply !text-black
}

.ant-menu-item-icon {
  @apply !text-gray-light !text-[16px] max-w-4 max-h-4
}

/* .ant-menu-submenu.ant-menu-title-content {
  @apply ml-5
} */

.ant-menu-submenu-arrow {
  @apply !text-gray-light
}

.ant-layout-sider .ant-menu-submenu-title .ant-menu-title-content {
  @apply !ml-5
}

.ant-menu-sub .ant-menu-item.ant-menu-item-only-child {
  @apply !pl-[60px]
}
.ant-menu-sub .ant-menu-item.ant-menu-item-only-child .ant-menu-title-content {
  @apply !ml-0
}

.ant-layout-sider .ant-menu-item .ant-menu-title-content {
  @apply !ml-5
}


.ant-layout-sider-collapsed .ant-menu-item {
  @apply pt-1
}

.ant-menu-submenu-popup .ant-menu-sub .ant-menu-item.ant-menu-item-only-child {
  @apply !pl-[16px]
}

.ant-layout-sider-collapsed {
  @apply !p-0
}
.ant-layout-sider-collapsed .ant-menu-item.ant-menu-item-selected {
  @apply !mx-0 !my-1 
}

.ant-layout-sider-collapsed .ant-menu-item.ant-menu-item {
  @apply !mx-0 !my-1
}

.ant-layout-sider-collapsed .ant-menu-submenu-title {
  @apply !mx-0 !my-1
}
.ant-layout-sider-collapsed .ant-menu-item.ant-menu-item-selected {
  @apply !rounded-none
}

.floating-select-container {
  position: relative;
  display: inline-block;
}

.floating-select-container .floating-label {
  position: absolute;
  left: 11px;
  top: 52%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #393941;
  pointer-events: none;
  transition: all 0.2s ease;
  background: transparent;
  padding: 0 4px;
  font-weight: 400;
  line-height: 1;
}

.floating-select-container.active .floating-label {
  top: 0px; /* Adjust to move above text */
  left: 9px;
  font-size: 12px;
  font-weight: 600;
  background-color: white;
}

